<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610354808656-4p1i82hj5ejn5h7o75mbl5fmfo6rd8en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610354808656-4p1i82hj5ejn5h7o75mbl5fmfo6rd8en</string>
	<key>API_KEY</key>
	<string>AIzaSyDiH2miB6EXgyjexL9e86WDLLIvygK1-eY</string>
	<key>GCM_SENDER_ID</key>
	<string>610354808656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GGame.EcoNews</string>
	<key>PROJECT_ID</key>
	<string>econews-46858</string>
	<key>STORAGE_BUCKET</key>
	<string>econews-46858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610354808656:ios:f8861d2e07706c27e90e55</string>
	<key>DATABASE_URL</key>
	<string>https://econews-46858.firebaseio.com</string>
</dict>
</plist>